{{>layouts/header}}
<head>
    <title>Rain Data</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("searchForm").addEventListener("submit", function(event) {
                // 폼 서브밋을 막습니다.
                event.preventDefault();

                // 폼 데이터를 가져옵니다.
                var searchText = document.getElementById('searchInput').value;

                // 검색어가 비어있는지 확인합니다.
                if (!searchText) {
                    alert("검색어를 입력해 주세요.");
                    return;
                }

                // 날짜 형식을 확인합니다 (YYYY-MM-DD 형식).
                var datePattern = /^\d{4}-\d{2}-\d{2}$/;
                if (!datePattern.test(searchText)) {
                    alert("날짜 형식이 맞지 않습니다. YYYY-MM-DD 형식으로 입력해 주세요.");
                    return;
                }

                // 검색어를 포함한 URL로 리다이렉트합니다.
                window.location.href = "/rain?searchQuery=" + encodeURIComponent(searchText);
            });
        });
    </script>
</head>
<body>
<h1>강수량 정보</h1>
<p style="color: gray; font-style: italic;">날짜별로 검색을 위해 예시)2024-05-26 형식에 맞게 검색해주세요</p>
<form id="searchForm" action="/rain" method="GET">
    <label for="searchInput">날짜 검색:</label>
    <input type="text" id="searchInput" name="searchQuery" />
    <input type="submit" value="검색" />
</form>
    <table border="2">
        <tr>
            <th>지역아이디</th>
            <th>지역명</th>
            <th>마지막 강우관측시간</th>
            <th>최근강우</th>
            <th>Level 6</th>
            <th>Level 12</th>
            <th>측정 시간</th>
        </tr>
        {{#rain}}
            <tr>
                <td>{{clientId}}</td>
                <td>{{clientName}}</td>
                <td>{{lastRainDt}}</td>
                <td>{{accRain}}</td>
                <td>{{level6}}</td>
                <td>{{level12}}</td>
                <td>{{accRainDt}}</td>
            </tr>
        {{/rain}}
    </table>
</body>
{{>layouts/footer}}
